/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */

/* Site */

body {
  box-sizing: border-box;
  --brand-color: #6534FF;
  --display-font: 'Montserrat', sans-serif;
  --text-font: 'Lora', serif;
  font-family: var(--text-font);
  width: 1922px;
  margin: 0 auto;
}
h1, h2, h3 {
  font-family: var(--display-font);
}
h1 {
  font-weight: 700;
  color: white;
  font-size: 70px;
}
h2 {
  font-weight: 700;
  color: #3E3E3E;
  font-size: 40px;
}
h3 {
  font-weight: 600;
  color: #3E3E3E;
}
/* This is repeated among a few different components */
.intro {
  margin: 0 auto;
  padding: 3rem;
  width: 35%;
  text-align: center;
  line-height: 35px;
}
.intro p {
  font-size: 20px;
  color: #4B4B4B;
}

/* Components */
/* Header */
header {
  text-align: center;
  background: center contain no-repeat;
  background-image: url(img/workgroup.jpeg);
  background-color: rgba(10, 10, 10, .4);
  background-blend-mode: multiply;
  color: white;
  height: 1082px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  border-bottom: 4px solid rgba(255,255,255,0.1);
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  font-family: var(--display-font);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}
li {
  padding: 1rem;
}
.title {
  align-self: center;
}
.title p {
  font-size: 22px;
  margin: 42px;
}
button {
  text-transform: uppercase;
  background-color: white;
  color: black;
  text-size: 15px;
  letter-spacing: 4.2px;
  height: 45px;
  margin: 0 15px;
  padding: 15px 30px;
  border-radius: 30px;
}
button:last-child {
  background-color: var(--brand-color);
  color: white;
  box-shadow: 0px 10px 20px rgba(101, 52, 255, 0.3);
}
address {
  display: flex;
  justify-content: space-between;
  font-family: var(--display-font);
  font-weight: 400;
  font-style: normal;
  margin: 50px 76px;
}

/* Portfolio */
.portfolio {
  text-align: center;
}
.portfolio ul {
  display: flex;
  list-style: none;
  justify-content: center;
  font-family: var(--display-font);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2.4px;
  padding-bottom: 1rem;
}
.portfolio a:active {
  color: var(--brand-color);
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 483px;
}
.tallpic {
  grid-row-start: 1;
  grid-row-end: span 2;
}

/* Services */
.services-wrapper {
  background-color: #222222;
}
.services {
  display: grid;
  grid: auto-flow / 1fr 1fr 1fr;
  gap: 5rem;
  width: 60%;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.services h3 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.services p {
  color: #9A9A9A;
  font-size: 16px;
  line-height: 30px;
}
.square {
  width: 50px;
  height: 50px;
  background-color: var(--brand-color);
  margin-bottom: 3rem;
}

/* Our Team */
.team {
  text-align: center;
}
.teampics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Testimonials */
.quotesblock {
  display: grid;
  grid: auto-flow / 1fr 1fr;
  gap: 5rem;
  width: 60%;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 10rem;
  color: #3E3E3E;
}
blockquote {
  margin: 0;
  font-size: 18px;
  line-height: 32px;
}
.quotename {
  text-transform: uppercase;
  font-family: var(--display-font);
  font-weight: 600;
}
.quotetitle {
  font-style: italic;
}

/* CTA */
.cta {
  text-align: center;
  background-color: var(--brand-color);
  height: 253px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cta h2 {
  color: white;
}
.cta button {
  background-color: white;
  color: #222222;
}

/* Footer */
footer {
  background-color: #222222;
  color: white;
}
.footerblock {
  display: grid;
  grid-template-columns: 1fr .75fr 1fr 1fr;
  width: 70%;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 76px;
}
.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footernav {
  list-style: none;
  text-transform: uppercase;
  font-family: var(--display-font);
  font-weight: 400;
}
.footernav li {
  padding: 13px;
}
footer address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.subscribe {
  font-size: 20px;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#email {
  font-size: 16px;
  padding: 16px 33px 16px 33px;
  margin: 0;
  /* display: inline; */
  border-radius: 30px 0 0 30px;
}
#email::placeholder {
  color: #8A8A8A;
  font-family: var(--text-font)
}
#emailsubmit {
  height: 64px;
  width: 64px;
  margin: 0;
  border-radius: 0 30px 30px 0;
  /* display: inline; */
}
#icon {
  height: 25px;
  width: 25px;
  background-color: white;
  margin: 0 auto;
}
.cwrapper {
  background-color: #1C1C1C;
}
.copyright {
  /* written #525252, pick an accessible color */
  color: #525252;
  height: 79px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}
