/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */

/* Site */

body {
  box-sizing: border-box;
  --brand-color: #6534FF;
  --brand-shadow: rgba(101, 52, 255, 0.3);
  --darkgray: #3E3E3E;
  --verydarkgray: #222222;
  --display-font: 'Montserrat', sans-serif;
  --text-font: 'Lora', serif;
  font-family: var(--text-font);
  font-size: 1.25rem;
  width: 1922px;
  margin: 0 auto;
}
h1, h2, h3 {
  font-family: var(--display-font);
}
h1 {
  font-weight: 700;
  color: white;
  font-size: 4.375rem;
}
h2 {
  font-weight: 700;
  color: var(--darkgray);
  font-size: 2.5rem;
}
h3 {
  font-weight: 600;
  color: var(--darkgray);
}
button {
  text-transform: uppercase;
  background-color: white;
  color: var(--verydarkgray);
  text-size: 1.06rem;
  letter-spacing: 0.2625rem;
  height: 3.9375rem;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  box-shadow: 0px 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
}
button:last-child {
  background-color: var(--brand-color);
  color: white;
  box-shadow: 0px 625rem 1.25rem var(--brand-shadow);
}
/* This is repeated among a few different components */
.intro {
  margin: 0 auto;
  padding: 3rem;
  width: 35%;
  text-align: center;
  line-height: 2.1875rem;
}
.intro p {
  color: #4B4B4B;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Components */
/* Header */
header {
  text-align: center;
  background: center contain no-repeat;
  background-image: url(img/workgroup.jpeg);
  background-color: rgba(10, 10, 10, .4);
  background-blend-mode: multiply;
  color: white;
  height: 67.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  border-bottom: 4px solid rgba(255,255,255,0.1);
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  font-family: var(--display-font);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8125rem;
}
li {
  padding: 1rem;
}
.title {
  align-self: center;
}
.title p {
  font-size: 1.375rem;
  margin: 2.625rem 0;
}
address {
  display: flex;
  justify-content: space-between;
  font-family: var(--display-font);
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin: 3.375rem 4.75rem;
}

/* Portfolio */
.portfolio {
  text-align: center;
}
.portfolio ul {
  display: flex;
  list-style: none;
  justify-content: center;
  font-family: var(--display-font);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.15rem;
  padding-bottom: 1rem;
}
.portfolio a:active {
  color: var(--brand-color);
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30rem;
}
.tallpic {
  grid-row-start: 1;
  grid-row-end: span 2;
}

/* Services */
.s-wrapper {
  background-color: var(--verydarkgray);
}
.services {
  display: grid;
  grid: auto-flow / 1fr 1fr 1fr;
  gap: 5rem;
  width: 70%;
  margin: 0 auto;
  padding-top: 7.625rem;
  padding-bottom: 7.625rem;
}
.services h3 {
  color: white;
  text-transform: uppercase;
  letter-spacing: .25rem;
}
.services p {
  color: #9A9A9A;
  font-size: 1rem;
  line-height: 1.875rem;
}
.square {
  width: 3rem;
  height: 3rem;
  background-color: var(--brand-color);
  margin-bottom: 3rem;
}

/* Our Team */
.team {
  text-align: center;
}
.teampics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.team figure {
  margin: 0;
}
.team figcaption {
  background-color: rgba(101, 52, 255, 1);
  height: 26.375rem;
  width: 26.375rem;
  /* Purple boxes are styled but currently hidden */
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 1rem;
}
.teamname {
  font-family: var(--display-font);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

/* Testimonials */
.t-wrapper {
  background-color: #F7F7F7;
}
.testimonials {
  margin: 0 auto;
}
.quotesblock {
  display: grid;
  grid: auto-flow / 1fr 1fr;
  gap: 5rem;
  width: 60%;
  margin: 0 auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: var(--dark-color);
}
blockquote {
  margin: 0;
  font-size: 1.125rem;
  line-height: 2.25rem;
}
.quotename {
  text-transform: uppercase;
  font-family: var(--display-font);
  font-weight: 600;
}
.quotetitle {
  font-style: italic;
}
/* Logos */
.logos {
  display: grid;
  justify-items: center;
  padding: 73px 0;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}
.logos div {
  height: 4.5rem;
  width: 4.5rem;
  background-color: lightgray;
}

/* CTA */
.cta {
  text-align: center;
  background-color: var(--brand-color);
  height: 15.8125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cta h2 {
  color: white;
  margin-bottom: 1.25rem;
}
.cta button {
  background-color: white;
  color: var(--verydarkgray);
}

/* Footer */
footer {
  background-color: var(--verydarkgray);
}
.footerblock {
  color: white;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 70%;
  margin: 0 auto;
  padding-top: 4.75rem;
  padding-bottom: 4.75rem;
}
.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.625rem;
  margin: 2rem;
}
.footernav {
  list-style: none;
  text-transform: uppercase;
  font-family: var(--display-font);
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.75rem;
  margin-left: 3rem;
}
.footernav li {
  padding: 0;
}
footer address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}
.subscribe {
  font-size: 1.25rem;
  margin: 0;
}
#email {
  font-size: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0;
  border-radius: 2rem 0 0 2rem;
}
#email::placeholder {
  color: #8A8A8A;
  font-family: var(--text-font)
}
#emailbutton {
  height: 3rem;
  width: 3rem;
  margin: 0;
  border-radius: 0 2rem 2rem 0;
  /* display: inline; */
}
#icon {
  height: 1rem;
  width: 1rem;
  background-color: white;
  margin: 0 auto;
}
.c-wrapper {
  background-color: #1C1C1C;
}
.copyright {
  /* written #525252, pick an accessible color */
  color: gray;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}
